// ~Jet : 333533
// ~Eerie Black : 242423
// ~Maize Crayola : F5CB5C
// ~Alabaster : E8EDDF
// ~Gainsboro : CFDBD5

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    font-family: 'IBM Plex Sans', sans-serif;
    color: #242423;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.2em 1.2em 1.2em;
    margin-top: 5rem;
}

h2 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #242423;
}

/*********************** navbar ***********************/

.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: 600;
    background-color: white;
}

 .nav-left {
     display: flex;
     gap: 3rem;
 }

.nav-left a {
    text-decoration: none;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-right a{
    text-decoration: none;
}

.user-nav-ctn Button{
        margin-left: 1rem;
}

/*********************** home ***********************/

.home-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.hero{
    font-size: 2.2rem;
    line-height: 4.5rem;
    text-align: center;
}

.intro{
    width: 100%;
    text-align: center;
    margin: 2rem 0 1rem;
    font-weight: 600;
}

.explore{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-main{
    width: 100%;
    padding: 0 1.2em 1.2em 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.7rem 1rem;
    margin-bottom: 1.2rem;
    border-radius: .5rem;

    &:nth-child(1){
        background-color: #F5CB5C;
    }
    
    &:nth-child(2){
        background-color: #242423;
        color: #F5CB5C;
    }
}

/*********************** searchbar ***********************/

.searchbar-ctn{
    top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    padding: .5rem 1.2rem;
}

.searchbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

    .search{
        width: 100%;
    }
}

.events {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.jam-session-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: .7rem;
    margin-bottom: 1.2rem;
    border: 1px solid lightgrey;
    border-radius: .5rem;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 500;

    &:last-child{
        margin-bottom: 0;
    }
}

.jam-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    text-transform: uppercase;
    margin: .5rem 0;
    padding: 0 1rem;


    .jam-time {
        border-left: 1px solid lightgray;
        padding-left: 1rem;
    }
}

.jam-main {
    background-position: center top;
    background-size: auto 100%;
    flex-grow: 1;
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;

    &:before {
            content: '';
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5872724089635855) 0%, rgba(0, 0, 0, 0) 70%);
            inset: 0;
            position: absolute;
        }

    .jam-name{
        position: absolute;
        bottom: .5rem;
        left: 1rem;
        color: #E8EDDF;
        font-size: 1.5em;
        font-weight: 700;

    }

}

.jam-bottom {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem 0 1rem;

    .jam-host a{
        text-transform: uppercase;
        font-weight: 700;
        color: black;

        &:hover{
            color: #F5CB5C;
        }
    }
}

.jam-description{
    display: flex;
    margin: 0.5rem 1rem;
    padding-top: 1rem;
    border-top: 1px solid lightgrey;
    color: #F5CB5C;
    font-weight: 400;
}

.jam-controllers{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    gap: 1rem;
}

/*********************** location-details ***********************/

.sessions-checkbox{
    margin-bottom: 1rem;
}

/*********************** jam-details ***********************/

.details-infos, .details-players {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1.2em 1.2em 1.2em;
    margin-top: .5rem;
    font-size: 1rem;
    font-weight: 500;
}

.jam-cover{
    background-position: center top;
    background-size: auto 100%;
    flex-grow: 1;
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    margin-top: 4rem;

    .cover-img {
            width: 100%;
            object-fit: cover;
    }

    &:before {
            content: '';
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5872724089635855) 0%, rgba(0, 0, 0, 0) 100%);
            inset: 0;
            position: absolute;
        }
    
    .jam-name {
        position: absolute;
        bottom: .5rem;
        left: 1rem;
        color: #E8EDDF;
        font-size: 1.5em;
        font-weight: 700;

    }
}

.jam-details-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    text-transform: uppercase;
    margin: .5rem 0;

    .jam-time {
        border-left: 1px solid lightgray;
        padding-left: 1rem;
    }
}

.jam-details-host a {
    text-transform: uppercase;
    font-weight: 700;
    color: black;

    &:hover {
        color: #F5CB5C;
    }
}

.jam-details-description{
    display: flex;
    margin: 1rem 0;
    padding-top: 1rem;
    border-top: 1px solid lightgrey;
    color: #F5CB5C;
    font-weight: 400;
}

.users-playing{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7rem;
}

.player-ctn{
    width: 100%;
    display: flex;
    border: 1px solid lightgrey;
    border-radius: .5rem;
}

.player-info{
    width: 50%;
    padding: .4rem;
    text-align: center;

    &:nth-child(2){
        border-left: 1px solid lightgrey;
        color: #F5CB5C;
    }
}

.players-btns{
    margin-top: 1rem;
}

.players-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    Button {
        margin-top: 1rem;
    }
}

/*********************** host-profile ***********************/

.host-profile-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greeting{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.host-btns{
    display: flex;
    margin: 2.5rem 0 1rem;
    gap: 1rem;
}

.no-jams-ctn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .no-jams-btn{
        padding: 1rem 1rem;
    }
}

/*********************** create-jam ***********************/

.crud-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.labels-ctn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.create-label{
    width: 100%;
}

.crud-btn{
    margin-top: 2rem;
}

/*********************** create-jam ***********************/

.form-redirect{
    margin-top: 1rem;
}

@media (max-width: 768px) {

    .navbar{
        position: fixed;
        display: flex;

        .nav-left{
            width: 50vw;
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
        }

        .nav-right{
            width: 50vw;
            display: flex;
            justify-content: flex-end;
            gap: 1.5rem;
        }
    }

} // Media - Mobile

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
    
    .navbar {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        text-transform: uppercase;
        font-weight: 600;
        background-color: white;
    }

    .main{
        margin-top: 6rem;
    }

    .home-main{

        .home-card-ctn{
            display: flex;
            gap: 1em;
        }
    }

    .searchbar-ctn {
        position: fixed;
        z-index: 1;
        padding-bottom: .7rem;

        .searchbar{
            width: 100%;
            flex-direction: row;
            margin-bottom: -.3rem;

            .txt-input{
                width: 65vw;
            }

            .cal-input {
                width: 35vw;
            }
        }
    }

    .events{
        margin-top: 3.3rem;
        padding-top: .5rem;
    }

    .jam-main {
        height: 400px;
    }

    .jam-cover {
        height: 450px;
    }

    .main section{
        width: 100%;
    }

    .labels-ctn{
        width: 60%;
    }

} // Media - Tablet

@media screen and (min-device-width: 1024px) {

.navbar {
        display: flex;
        justify-content: space-between;
        z-index: 2;
        padding: 1rem 2rem;
    }

    .nav-left{
        display: flex;
        gap: 3rem;
    }

    .nav-right {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .home-header{
        width: 80%;

        .hero{
            width: 100%;
            font-size: 4rem;
            line-height: 8rem;

            h1{
                font-weight: 600;
            }
        }

        .intro{
            width: 100%;
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
        
    }

    .home-main {

        .home-card-ctn {
            width: 60%;
            display: flex;
            gap: 1em;
        }

        .home-card{
            padding: 1rem 1.5rem;
        }
    }

    .searchbar-ctn {
        position: fixed;
        width: 100%;
        z-index: 1;
        padding-bottom: .7rem;
        align-items: center;

        .searchbar {
            width: 100%;
            flex-direction: row;
            margin-bottom: -.3rem;

            .txt-input {
                width: 65vw;
            }

            .cal-input {
                width: 35vw;
            }
        }
    }

    .checkbox{
        align-self: flex-start;
    }

    .events {
        margin-top: 4rem;
        padding-top: .5rem;
    }

    .labels-ctn {
        width: 30%;
    }
    
    .jam-session-card{
        width: 32vw;

        .jam-main {
            width: 100%;
            height: 300px;
        }

        &:hover{
            border: 1px solid #F5CB5C;
        }
    }

    .details-ctn{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cover{
        width: 60vw;

        .jam-name{
            font-size: 2rem;
        }
    }

    .jam-cover {
        height: 500px;
        border-radius: 10px;
    }

    .details-infos-ctn{
        width: 60vw;
    }

} // Media - Laptop